<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CalculatorOnline</title>
</head>
<body>
    <form method="post" action="/calculator">
        First value:<br>
        <input type="number" step="0.1" name="val1"><br><br>
        <input type="radio" name="sign" value="*"> Multiply<br>
        <input type="radio" name="sign" value="/"> Divide<br>
        <input type="radio" name="sign" value="-"> Subtract<br>
        <input type="radio" name="sign" value="+"> Add<br><br>
        Second value:<br>
        <input type="number" step="0.1" name="val2"><br><br>
        <input type="submit" value="Calculate">
    </form>
</body>
</html>